API_TOKEN=your_token_here
API_URL=http://your_api_url/Cups
FRONTEND_URL=http://localhost:5173

ZOHO_CLIENT_ID=your_client_id
ZOHO_CLIENT_SECRET=your_client_secret
ZOHO_REFRESH_TOKEN=your_refresh_token
ZOHO_ACCESS_TOKEN=your_initial_access_token
ZOHO_API_DOMAIN=https://www.zohoapis.eu
ZOHO_DEAL_FETCH_DELAY=4
